{% extends "new/base.html" %}
{% block content %}

<div>
    <section id="image-carousel" style="width: 10px; position: absolute; left:-150px;">
        <div class="carousel-item">
          <img src="https://upload.wikimedia.org/wikipedia/en/thumb/6/69/IIT_Madras_Logo.svg/150px-IIT_Madras_Logo.svg.png" alt="Indian Institute of Technology Madras" style ="width:165px;">
        </div>
        <div class="carousel-item">
          <img src="https://upload.wikimedia.org/wikipedia/en/thumb/f/fd/Indian_Institute_of_Technology_Delhi_Logo.svg/165px-Indian_Institute_of_Technology_Delhi_Logo.svg.png" alt="Indian Institute of Technology Delhi">
        </div>
        <div class="carousel-item">
          <img src="https://upload.wikimedia.org/wikipedia/en/thumb/1/1d/Indian_Institute_of_Technology_Bombay_Logo.svg/330px-Indian_Institute_of_Technology_Bombay_Logo.svg.png" alt="Indian Institute of Technology Bombay" style="width:165px;" >
        </div>
        <div class="carousel-item">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/a3/IIT_Kanpur_Logo.svg/165px-IIT_Kanpur_Logo.svg.png" alt="Indian Institute of Technology Kanpur" style="width: 165px;">
        </div>
        
        <div class="carousel-item">
            <img src="https://upload.wikimedia.org/wikipedia/en/6/6f/Indian_Institute_of_Technology_Roorkee_logo.png" alt="Indian Institute of Technology Roorkee" style="width: 165px;">
        </div>
        
        <div class="carousel-item">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/1/1c/IIT_Kharagpur_Logo.svg/165px-IIT_Kharagpur_Logo.svg.png" alt="Indian Institute of Technology Kharagpur" style="width: 165px;">
        </div>
        
        <div class="carousel-item">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/1/12/IIT_Guwahati_Logo.svg/165px-IIT_Guwahati_Logo.svg.png" alt="Indian Institute of Technology Guwahati" style="width: 165px;">
        </div>
        
        <div class="carousel-item">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/1/19/IIT_Hyderabad_Insignia.svg/165px-IIT_Hyderabad_Insignia.svg.png" alt="Indian Institute of Technology Hyderabad" style="width: 165px;">
        </div>
        
        <div class="carousel-item">
            <img src="https://upload.wikimedia.org/wikipedia/en/4/4c/Official_Logo_of_IIT%28BHU%29%2CVaranasi%2CIndia%2C2013.png" alt="Indian Institute of Technology (BHU) Varanasi" style="width: 165px;">
        </div>
        
        <div class="carousel-item">
            <img src="https://upload.wikimedia.org/wikipedia/en/b/b0/Indian_Institute_of_Technology_%28Indian_School_of_Mines%29%2C_Dhanbad_Logo.png" alt="Indian Institute of Technology (ISM) Dhanbad" style="width: 165px;">
        </div>
        
        <div class="carousel-item">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/1/1c/IIT_Kharagpur_Logo.svg/165px-IIT_Kharagpur_Logo.svg.png" alt="Indian Institute of Technology Indore" style="width: 165px;">
        </div>
        
        <div class="carousel-item">
            <img src="https://upload.wikimedia.org/wikipedia/en/f/f9/Indian_Institute_of_Technology_Ropar_logo.png" alt="Indian Institute of Technology Ropar" style="width: 165px;">
        </div>
        
        <div class="carousel-item">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/aa/Indian_Institute_of_Technology_Mandi_Logo.png/165px-Indian_Institute_of_Technology_Mandi_Logo.png" alt="Indian Institute of Technology Mandi" style="width: 165px;">
        </div>
        
        <div class="carousel-item">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/a2/IIT_Gandhinagar_Logo.svg/165px-IIT_Gandhinagar_Logo.svg.png" alt="Indian Institute of Technology Gandinagar" style="width: 165px;">
        </div>
        
        <div class="carousel-item">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/8/81/Indian_Institute_of_Technology_Jodhpur_Logo.svg/165px-Indian_Institute_of_Technology_Jodhpur_Logo.svg.png" alt="Indian Institute of Technology Jodhpur" style="width: 165px;">
        </div>
        
        <div class="carousel-item">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/52/Indian_Institute_of_Technology%2C_Patna.svg/165px-Indian_Institute_of_Technology%2C_Patna.svg.png" alt="Indian Institute of Technology Patna" style="width: 165px;">
        </div>
        
        <div class="carousel-item">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/8/82/Indian_Institute_of_Technology_Bhubaneswar_Logo.svg/165px-Indian_Institute_of_Technology_Bhubaneswar_Logo.svg.png" alt="Indian Institute of Technology Bhubaneshwar" style="width: 165px;">
        </div>
        
        <div class="carousel-item">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/b/b0/Indian_Institute_of_Technology_Tirupati_Logo.svg/165px-Indian_Institute_of_Technology_Tirupati_Logo.svg.png" alt="Indian Institute of Technology Tirupati" style="width: 165px;">
        </div>
        
        <div class="carousel-item">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c8/IIT_Palakkad_Logo.svg/165px-IIT_Palakkad_Logo.svg.png" alt="Indian Institute of Technology Palakkad" style="width: 165px;">
        </div>
        
        <div class="carousel-item">
            <img src="https://upload.wikimedia.org/wikipedia/en/1/12/Indian_Institute_of_Technology%2C_Jammu_Logo.png" alt="Indian Institute of Technology Jammu" style="width: 165px;">
        </div>
        
        <div class="carousel-item">
            <img src="https://upload.wikimedia.org/wikipedia/en/6/61/IIT_Bhilai_logo.png" alt="Indian Institute of Technology Bhilai" style="width: 165px;">
        </div>
        
        
      </section>
      
      <script>
        const carousel = document.getElementById('image-carousel');
        const items = carousel.querySelectorAll('.carousel-item');
      
        let currentSlide = 0; // Track current slide index
      
        function nextSlide() {
          items[currentSlide].classList.remove('active'); // Remove active class from current slide
          currentSlide = (currentSlide + 1) % items.length; // Update index for next slide
          items[currentSlide].classList.add('active'); // Add active class to next slide
        }
      
        setInterval(nextSlide, 2000); // Change slide every 3 seconds (adjust as needed)
      </script>
</div>

<div class="top-right">
    <div class="content-section">
        <h3>Popular questions</h3>
        <p class='text-muted'>Most famous questions in our website.</p>
        <ul class="list-group">
            <li class="list-group-item list-group-item-light"><a href="{% url 'iitb' college='Indian Institute of Technology Bombay' %}" style="color:#5f788a;">Popular Branches</a></li>
            <li class="list-group-item list-group-item-light"><a href="{% url 'iit-list' %}" style="color:#5f788a;">Which IITs are preferred by students</a></li>
            <li class="list-group-item list-group-item-light"><a href="{% url 'iitb' college='Indian Institute of Technology Bombay' %}" style="color:#5f788a;">Seat allotments for CSE</a></li>
        </ul>
    </div>
</div>
<div style="
    position: absolute;
    left: 91px;
">

    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <h5><a href="{% url 'iit-list'%}">View Institute wise cut-off</a></h5>
            </div>
            <div class="media-content">
                <p>View the cut-off data with the selected institutes and further narrow down with your choice of programs.
                </p>
            </div>
        </div>
    </article>
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <h5><a href="{% url 'insti_cutoff'%}">Analysize institute wise cut-off trends</a></h5>
            </div>
            <div class="media-content">
                <p>Institute trends highlight the trends of various programs offered by a 
                    particular institute over the years. This helps understand the popularity and 
                    perception of programs offered by the institute, and 
                    thus helps understand the demand for a particular program 
                    in the institute during the counselling process.
                </p>
            </div>
        </div>
    </article>
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <h5><a href="{% url 'iitb' college='Indian Institute of Technology Bombay'%}">Roundwise cut-off Analysis</a></h5>
            </div>
            <div class="media-content">
                <p>Round trends highlight the general trend of closing ranks throughout the
                    rounds of the counselling process. This helps understand the likely 
                    range of changes to the closing ranks throught the counselling process.
                </p>
            </div>
        </div>    
    </article>
</div>
    
    
    {% endblock content %}